@model MMSWebApp.Models.SMEMatrix

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SMEMatrix</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FunctionArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FunctionArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.System)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.System)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APJSME1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APJSME1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APJSME2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APJSME2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APJSME3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APJSME3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APJSME4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APJSME4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTRTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTRTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTRSME1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTRSME1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTRSME2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTRSME2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTRSME3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTRSME3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTRSME4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTRSME4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
